@font-face {
    font-family: 'Right Grotesk';
    src: url('RightGrotesk-NarrowBlack.woff2') format('woff2'),
        url('RightGrotesk-NarrowBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Right Grotesk';
    src: url('RightGrotesk-NarrowDark.woff2') format('woff2'),
        url('RightGrotesk-NarrowDark.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Right Grotesk';
    src: url('RightGrotesk-NarrowBold.woff2') format('woff2'),
        url('RightGrotesk-NarrowBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Right Grotesk';
    src: url('RightGrotesk-NarrowFine.woff2') format('woff2'),
        url('RightGrotesk-NarrowFine.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Right Grotesk';
    src: url('RightGrotesk-NarrowRegular.woff2') format('woff2'),
        url('RightGrotesk-NarrowRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Right Grotesk';
    src: url('RightGrotesk-NarrowLight.woff2') format('woff2'),
        url('RightGrotesk-NarrowLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Right Grotesk';
    src: url('RightGrotesk-NarrowMedium.woff2') format('woff2'),
        url('RightGrotesk-NarrowMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

